*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family:fantasy;
}
body{
    width: 100%;
}
.container{
    display: flex;
    align-items:center;
    gap: 3rem;
    justify-content: center;
    margin: 5rem auto;
    max-width: fit-content;

}
.container > button {
    border:none;
    border-radius: 0.15rem;
    padding: 0.25rem;
    color: #fff;
    font-size: 2rem;
}
.container > button:hover{
    cursor: pointer;
}
#rock{
    background-color:black;
}
#paper{
    background-color: burlywood;
}
#scissors{
    background-color: darkred;
}